.hamburger{
   width: 2rem;
   height: 2rem;position: fixed;
   top: 15px;
   right: 20px;
   display: flex;
   justify-content: space-around;
   flex-flow: column nowrap;
   z-index: 20;
   cursor: pointer;
}
.hamburger div{
    background-color: black;
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    transition: all 0.5s linear;
}